@media (max-width: 700px) {

    * {
        font-size: 1.1rem;
    }

    div#topo h2 {
        display: none;
    }

#cabecalho nav ul li {
    margin: 0rem;
    padding: 0;
}
    
    div#topo ul li {
        padding: .3rem;
       
    }
    article#tecnologias {
        padding: 2rem;
        
    }

    #tecnologias img {
        max-width: 90%;
        
    }

    div.conhecimentos {
        min-width: 30%;
    }

    

article.projetos img {
    width: 90%;
}

section#contato ul li {
    margin:0px;
    
    }

}
