@media (max-width: 600px) {

    * {
        font-size: 1.1rem;
    }

#cabecalho nav ul li {
    margin: 0rem;
}
    
    div#topo ul li {
        padding: .3rem;
       
    }
    div#topo h2 {
        display: none;
    }

    article#tecnologias {
        padding: 3rem;
    }

    #tecnologias img {
        max-width: 5rem;
    }

    div.conhecimentos {
        max-width: 7rem;
    }

    div#sou {
        width: 80%;
        }
        
        div#projeto {
        width: 80%;
        
        }
        
        section#contato ul {
        width: 80%;
        
        }


}

